/* titulo */
h1 {
    margin-bottom: 25px;
    font-family: 'New Amsterdam', sans-serif;
    background-image: url('1200x630wa.png');
}

/* alineacion */
.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 20px;
}

/* Bloque izquierdo */
textarea {
    width: 250px;
    height: 30%;
    padding: 70px;
    font-size: 16px;
    border: 3px solid #fd0101;
}

.output {
    width: 250px;
    height: 30%;
    padding: 70px;
    border: 3px solid #add8e6;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output p {
    font-size: 16px;
}

.message {
    color: rgb(25, 170, 219);
    margin-bottom: 20px;
}

/* Parte de abajo */
footer {
    margin-top: 20px;
    font-size: 14px;
    background-color: rgb(50, 5, 161);
    color: rgb(255, 255, 255);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('OIP.jpeg');
    background-size: cover;
    background-position: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(to right, #1e90ff, #00bfff);
    border: none;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

/* Al pasar el cursor */
button:hover {
    background-color: rgb(244, 0, 0);
    color: rgb(9, 5, 5);
}